
<div class="card-gradient-border <%= pokemon.element %> ">
    <h3><%= pokemon.name %></h3>
    <%#= get pokemon image from the API %>
    <img class="pokemon-img" src="<%= pokemon.imageUrl %>" alt="pokemon image" height="66%">
  <div class="card-gradient-border-content">
    <div class="d-flex flex-column justify-content-center py-2">
      <p> <strong>Element:</strong> <%= pokemon.element %></p>
      <p> <strong>Age:</strong> <%= pokemon.age %></p>
    </div>
    <div class="card-gradient-border-avatar">
      <%=  image_tag "#{pokemon.user.imageUrl}.jpg" , class: "avatar", alt: "user avatar"  %>
      <span class="username"><%= pokemon.user.username  %></span>
    </div>
  </div>
</div>
