<div class="card-gradient-border gold-lightning">
  <h3><%= pokemon.name %></h3>
  <%#= get pokemon image from the API %>
  <img class="pokemon-img" src=<%=pokemon.imageUrl%> alt="pokemon image" height="66%">
  <div class="card-gradient-border-content">
    <div>
      <p> Element: <%= pokemon.element %></p>
      <p> Age:<%= pokemon.age %></p>
      <p> Rent:  </p>
    </div>
    <%#= to render the avatar as an image based on the seed w/ method pokemon.user.img requires an image to be attached to the  user %>
    <div class="card-gradient-border-avatar">
      <img class="avatar" src=<%= pokemon.user.imageUrl %> alt="avatar">
    </div>
  </div>
</div>
