<h1><strong>PokeDeck</strong></h1>
<div class="card-container">
  <%# <ul style="list-style-type: none;"> %>
    <% @pokemons.each do |pokemon|%>
        <%# <li style="list-style-type: none;"> %>
          <div class="card-gradient-border gold-lightning">
          <h3><%= pokemon.name %></h3>
          <img class="pokemon-img" src=<%=pokemon.imageUrl%> alt="pokemon image" height="66%">
        <%# <img class="pokemon-img" src="pikachu.png" alt="pikachu image" height="66%"> %>
        <%#= to render the avatar as an image based on the seed w/ method pokemon.user.img %>
        <%#= requires cloudinary gem and an image to be attached to the  user %>
          <div class="card-gradient-border-content">
          <div>
            <p> Element: <%= pokemon.element %></p>
            <p> Age: <%= pokemon.age %></p>
            <p> Rent: $$$ </p>
          </div>
          <%# <div class="card-gradient-border-avatar"> %>
          <%#= to render the avatar as an image based on the seed w/ method pokemon.user.img %>
          <%#= requires cloudinary gem and an image to be attached to the  user %>
          <%# <img class="avatar" src="pokemon-trainer.webp" alt="avatar"> %>
          </div>
        </div>

      <%# </li> %>
    <% end %>

    <%# <li> %>
      <%= link_to "new" , new_pokemon_path %>
    <%# </li> %>
  <%# </ul> %>
</div>
