<h1>Pokemons#snew</h1>
<%= form_for(@pokemon) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :element %>
    <%= f.text_field :element %>
  </div>
  <div>
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
  <div>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>
  <div>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>


<%#  <%= f.input :nickname %>
  <%# <%= f.input :age %>
  <%# <%= f.input :rating %>
  <%# <%= f.input :element %>
  <%# <%= f.input :name %>
  <%# <%= f.submit %>
