<div class="container">
  <div class="text-center mt-4">
    <h1><strong>Create a Pokemon</strong></h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= simple_form_for(@pokemon, html: { class: "mt-4" }) do |f| %>

        <% if @pokemon.errors[:base].any? %>
          <div class="alert alert-danger" role="alert">
            <%= f.error :base %>
          </div>
        <% end %>

        <%= f.input :name do %>
        <%= f.collection_select :name, Pokemon.order(:name), :id, :name, { prompt: "Select a name" }, { class: "form-control" } %>
        <% end %>
        <%= f.input :element %>
        <%= f.input :age %>
        <%= f.input :nickname %>
        <%= f.input :rating, placeholder: "Write a rating between 0 and 5"%>
        <%= f.button :submit, "Create Pokemon", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
