<h1>Pokemons#show</h1>

<div class="Pokemon">
  <img src="" />
  <div class="card-product-infos">
    <h2><%= @pokemon.nickname %></h2>
    <h2><%= @pokemon.age %></h2>
    <h2><%= @pokemon.rating %></h2>
    <h2><%= @pokemon.element %></h2>
    <h2><%= @pokemon.name %></h2>

    <%# <h2>age</h2>
    <h2>rating</h2>
    <h2>element </h2>
    <h2>name</h2>

    <%= @pokemon.rating %>
    <%#
    @pokemon.age
    @pokemon.element
    @pokemon.name %>

    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
